.path-item-container {
  position: relative;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon-placeholder {
      width: 20px;
      height: 20px;
    }
  }
  .file-name {
    height: 100%;
    line-height: 30px;
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
  }
}

.selected {
  background-color: #eeeeee;
  &::after {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 5px;
    height: 100%;
    background-color: #777777;
  }
}

.arrow-icon {
  width: 20px !important;
  height: 20px !important;
  transform: translateX(5px);
}
.folder-icon {
  width: 20px !important;
  height: 20px !important;
}
.markdown-icon {
  width: 20px !important;
  height: 20px !important;
}
